*,
html,
body {
  margin:0;
  padding:0;
}

.dark{
  background-color:gray;
  color:white;
  
}
.Tengah {
  display:flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100vh;
}
nav{
  position:fixed;
  bottom:0;
  background-color:black;
  width:100%;
  padding:15px;

}
nav a{
  color: white;
  padding: 15px;
  text-decoration:none;
  font-weight: 700;
}

nav a:hover {
  background-color: tomato;
  cursor:pointer;
  transition:background-color .5s ease-in-out;
  
}
