
body, html, *{
    margin: 0;
    padding: 0;
    background-image: url(Kurumi.jpg);
    background-size: cover;
}

#clock{
    text-align: center;
    font-size: 3em;
    margin: auto;
    padding: 0;
    position: absolute;
    display: flex;
    top: 45%;
    left: 43%;
    bottom: 50%;
    right: 50%;
    color: aqua;
}

