body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.Sign-up{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 3px;
}
h1{
    text-align: center;
    padding-top: 15px;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
  margin-top: 20px;
  font-size: 15px;

}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
}

input[type="Submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: skyblue;
    color: black;
    font-size: 18px;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 19px;

}

.panama{
    text-align: center;
    color: black;
    font-size: 19px;
    margin-top: -10px;
}

.panama a{
    color: #18abcc;
}

